.hp-hero-slider {
    position: relative;
    z-index: 10;
    margin-top: 60px;
    
    &__banner {
        height: math-clamp(500, 680);
        padding-top: math-clamp(40, 135);
        background: url(../img/hero-banner.jpg) no-repeat center center;
        background-size: cover;
        position: relative;
        color: #ffffff;
        text-align: center;
        
        h1 {
            margin-bottom: 10px;
        }
        
        &-subtitle {
            font-size: math-clamp(20, 24);
            line-height: 1.25;
            margin-bottom: math-clamp(40, 100);
        }
        
        &-play {
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover {
                svg {
                    transform: scale(1.3);
                }
            }
            
            svg {
                display: block;
                position: relative;
                z-index: 5;
                transition: all .3s ease-in-out;
            }
        }
    }
    
    &__slider {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(50%);
        
        .swiper {
            border-radius: 12px;
        }
        
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: -18px;
            z-index: 9;
        }
        
        .swiper-button-prev {
            left: 36px;
        }
        
        .swiper-button-next {
            right: 36px;
        }
    }
}
