.hp-visiting-hours {
    text-align: center;
    
    .hp-container {
        position: relative;
        z-index: 9;
    }
    
    h1 {
        font-family: Futura, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 68px;
        line-height: 80px;
        margin: 0;
    }
    
    &__subtitle {
        font-family: Heebo, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
    
    &__working-days {
        max-width: 1072px;
        margin-left: auto;
        margin-right: auto;
        gap: math-clamp(20, 60);
        display: flex;
        flex-wrap: wrap;
        padding-top: math-clamp(40, 80);
    }
    
    &__item {
        flex: 0 0 100%;
        max-width: 100%;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        background-color: $yellow;
        padding: math-clamp(30, 72) math-clamp(20, 48) math-clamp(30, 62);
    
        @media (min-width: 768px) {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    
        h3 {
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            line-height: 100px;
            margin-bottom: math-clamp(20, 40);
        }
    }
    
    &__banner {
        background-image: url(../img/hp-visiting-hours-banner.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        min-height: math-clamp(400, 680);
        padding: 30px 0;
        margin-top: -50px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    
        @media (min-width: 768px) {
            margin-top: -90px;
        }
        @media (min-width: 1200px) {
            margin-top: -115px;
        }
    
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .5);
        }
        
        &-container {
            position: relative;
            z-index: 5;
            width: calc(100% - 40px);
            max-width: math-clamp(550, 910);
            margin-left: auto;
            margin-right: auto;
            margin-top: 70px;
            
            h1 {
                margin-bottom: math-clamp(30, 70);
                font-size: 49px;
                line-height: 60px;
            }
        }
    }
}
