.hp-available-puppies-items {
    background-color: $green;
    position: relative;
    padding: 60px 0;
    
    &__block-search {
        position: relative;
        top: -60px;
    }
    
    &__top-element {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: calc(100% - 1px);
        z-index: 1;
    }
    
    &__decor-block {
        height: 500px;
        width: 100%;
        background-color: $yellow;
        top: 0;
        position: absolute;
    }
    
    &__bottom-element {
        position: absolute;
        width: 100%;
        height: auto;
        top: calc(100% - 5px);
        z-index: 1;
    }
    
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 15px;
        justify-content: center;
        padding-bottom: 100px;
        position: relative;
        z-index: 2;
    }
}
